:root {
    --main-color: #f8f9fa;
    --secondary-color: #212529;
    --third-color: #4dabf7;
    --fourth-color: #fff;
    --correct-color: ##40c057;
    --wrong-color: #dc3545;
    --main-heart-color: #e03131;
    --main-font-family: 'Open Sans', sans-serif;
}

*, ::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    font-family: var(--main-font-family);
    width: 1140px;
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.logo, .player__score, .heart, .heart__broken {
    font-size: 1.3rem
}

.logo, .player__score {
    color: var(--secondary-color);
}

.heart, .heart__broken {
    color: var(--main-heart-color);
}

.number__of__question {
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.question__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 2rem;
}

.question {
    color: var(--secondary-color);
    font-size: 1.4rem;
}

.choice {
    display: flex;
    width: 100%;
    margin-bottom: .5rem;
    font-size: 1.1rem;
    background-color: var(--fourth-color);
}

.answer__letter {
    padding: 1rem;
    color: var(--fourth-color);
    background-color: var(--third-color); 
}

.answer__text {
    padding: 1rem;
    background-color: var(--fourth-color);
}

.correct {
    background-color: var(--correct-color);
}

.wrong {
    background-color: var(--wrong-color);
}

.hide {
    display: none;
}



